html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6490337/600/400/m2/fpnw/wm0/80s-sun-prev-01-.jpg?1559661475&s=69df4769722f1f7be279f933fdd005d1);
  image-rendering: auto;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: rgb(255, 170, 0);
 
}
.main-container {
  display: flex;
  height: calc(100% - 52px); 
  
}
.sec-list {
    color: orange;
  flex: 3;
  margin-left: 10px;
  font-weight: 700;
  border: 2px 2px;
}

.sec-form {
  flex: 2;
  border: 3px solid yellow;
  border-radius: 10px;
  background-color: rgb(194, 1, 194);
  color: orange;
}
.my-control {
  display: block;
  margin-bottom: 7px;
}
.my-control label {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 5px;
}
.my-control input .my-control select .my-control textarea {
  display: inline-block;
  padding: 5px 10px;
  width: auto;
}
#iImportant {
  font-size: 32px;
  color: red;
  cursor: pointer;
}
#iImportant:hover {
  padding: 5px;
}
.task{
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    align-items: center;
    background-color: rgb(194, 1, 194);;
    border: 3px solid yellow;
}
.task i{
    flex: 1;
    font-size: 32px;
}
.task .info{
    flex:6;
}
.info{
    flex:1
}

